* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: grid;
    grid-template-columns: 4fr 0fr;
    gap: 30px;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .modal {
    position: absolute;
    background-color: rgba(18, 0, 32, 0.445);
    height: 100vh;
    width: 100vw;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .modal #spinner {
    font-size: 14px;
    color: white;
    font-weight: bold;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    animation: fade 1s ease-in alternate-reverse infinite;
  }
  
  @keyframes fade {
    to {
      opacity: 0;
    }
  
    from {
      opacity: 1;
    }
  }
  
  
  
  .video-holder {
    position: relative;
    padding: 60px;
  }
  
  #video {
    background-color: black;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    height: calc(100vh - 120px);
  }
  
  #my-video {
    background-color: rgb(215, 255, 242);
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 300px;
    border-radius: 999px;
    object-fit: cover;
    outline: 2px solid green;
    overflow: hidden;
  }
  
